body {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.gfycat.com%2FHelpfulShimmeringIrrawaddydolphin-small.gif&f=1&nofb=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ff00cc;
  height: 100%;
  width: 100%;
  max-width: max-content;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header{
  background: rgba(255, 0, 204, 0.5);
  border-top: 10px ridge #ff6633;
  border-bottom: 10px ridge #ff6633;
  border-radius: 20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black
}

.exp-header{
 background: rgba(255, 0, 153, 0.3);
 border-top: 10px ridge #ff6633;
 border-radius: 20px;
 padding-bottom: 5px;
 
}

.edu-header{
 background: rgba(255, 0, 51, 0.5);
 border-top: 10px ridge #ff6633;
 border-radius: 20px;
 padding-bottom:5px;
}

.workexp{
 background: rgba(255, 0, 102, 0.5);
 border-bottom: 10px ridge #ff6633;
 border-radius: 20px;
 border-bottom: 10px ridge #ff6633;
 border-radius: 20px;
 padding-left: 10px;
 padding-top: 5px;
 padding-right:10px;
}

.eduexp{
 background: rgba(204, 0, 51, 0.5);
 border-bottom: 10px ridge #ff6633;
 border-radius: 20px;
 border-bottom: 10px ridge #ff6633;
 border-radius: 20px;
 padding-left: 10px;
 padding-right:10px;
 padding-top: 5px;
}

img {
  width: 300px;
  margin-left: auto;
  margin-right:auto;
  display: block;
  padding-bottom:10px;
}

h1{
font-size:45px;
}

h2{
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

h3{
  color: white;
  text-decoration: underline;
  text-shadow: 2px 2px black;
}

h4{
  color: white;
  text-shadow: 2px 2px black;
}

h5{
 color: white;
 text-shadow: 2px 2px black;
 padding-right:10px;
}
